[submodule "c/third_party/librtcm"]
	path = c/third_party/librtcm
	url = git@github.com:swift-nav/librtcm-private.git
[submodule "c/third_party/libsbp"]
	path = c/third_party/libsbp
	url = https://github.com/swift-nav/libsbp.git
[submodule "c/third_party/libswiftnav"]
	path = c/third_party/libswiftnav
	url = git@github.com:swift-nav/libswiftnav-private.git
[submodule "c/cmake/common"]
	path = c/cmake/common
	url = https://github.com/swift-nav/cmake.git
[submodule "c/third_party/check"]
	path = c/third_party/check
	url = https://github.com/swift-nav/check.git
[submodule "c/third_party/libubx"]
	path = c/third_party/libubx
	url = git@github.com:swift-nav/libubx-private.git
[submodule "c/third_party/libixcom"]
	path = c/third_party/libixcom
	url = git@github.com:swift-nav/libixcom-private.git
[submodule "c/third_party/PROJ"]
	path = c/third_party/PROJ
	url = https://github.com/swift-nav/PROJ.git
